.button_page{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttons{
    margin-top: 15em;
    display: grid;
    grid-template-columns: repeat(3, 14vw);
    justify-content:space-between;
    /* background-color: green; */
    width: 50vw;
    gap: 0px 100px;
    color: wheat;
    
}

button:nth-child(n){
    margin-bottom: 5vh;
    transition: all;
    transition-duration: 0.5s;
}

/*youtube button*/
button:nth-child(1){
    background:url(../../assets/youtube_white.png) no-repeat;
    align-items: center;
    justify-content: center;
    background-size: 45px;
    cursor:pointer;
    border:none;
}

button:nth-child(1):hover{
    background:url(../../assets/youtube_color.png) no-repeat;
    align-items: center;
    justify-content: center;
    background-size: 45px;
    cursor:pointer;
    border:none;
}
#you{
    position: relative;
    font-size: 22px;
    margin-left: 10px;
    bottom:18px;
}

/*facebook button*/
button:nth-child(2){
    background:url(../../assets/facebook_white.png) no-repeat;
    align-items: center;
    justify-content: center;
    background-size: 45px;
    cursor:pointer;
    border:none;
}
button:nth-child(2):hover{
    background:url(../../assets/facebook_color.png) no-repeat;
    align-items: center;
    justify-content: center;
    background-size: 45px;
    cursor:pointer;
    border:none;
}
#face{
    position: relative;
    font-size: 22px;
    margin-left: 20px;
    bottom:18px;
}

/*discord button*/
button:nth-child(3){
    background:url(../../assets/discord_white.png) no-repeat;
    align-items: center;
    justify-content: center;
    background-size: 45px;
    cursor:pointer;
    border:none;
}
button:nth-child(3):hover{
    background:url(../../assets/discord_color.png) no-repeat;
    align-items: center;
    justify-content: center;
    background-size: 45px;
    cursor:pointer;
    border:none;
}
#dis{
    position: relative;
    font-size: 22px;
    margin-left: 10px;
    bottom:13px;
}

/*instagram button*/
button:nth-child(4){
    background:url(../../assets/discord_white.png) no-repeat;
    align-items: center;
    justify-content: center;
    background-size: 45px;
    cursor:pointer;
    border:none;
}
button:nth-child(4):hover{
    background:url(../../assets/discord_color.png) no-repeat;
    align-items: center;
    justify-content: center;
    background-size: 45px;
    cursor:pointer;
    border:none;
}
#insta{
    position: relative;
    font-size: 22px;
    margin-left: 30px;
    bottom:13px;
}

/*prime video button*/
button:nth-child(5){
    background:url(../../assets/discord_white.png) no-repeat;
    align-items: center;
    justify-content: center;
    background-size: 45px;
    cursor:pointer;
    border:none;
}
button:nth-child(5):hover{
    background:url(../../assets/discord_color.png) no-repeat;
    align-items: center;
    justify-content: center;
    background-size: 45px;
    cursor:pointer;
    border:none;
}
#prime{
    position: relative;
    font-size: 22px;
    margin-left: 40px;
    bottom:13px;
}

/*hotstar button*/
button:nth-child(6){
    background:url(../../assets/discord_white.png) no-repeat;
    align-items: center;
    justify-content: center;
    background-size: 45px;
    cursor:pointer;
    border:none;
}
button:nth-child(6):hover{
    background:url(../../assets/discord_color.png) no-repeat;
    align-items: center;
    justify-content: center;
    background-size: 45px;
    cursor:pointer;
    border:none;
}
#hot{
    position: relative;
    font-size: 22px;
    margin-left: 7px;
    bottom:13px;
}

/*netflix button*/
button:nth-child(7){
    background:url(../../assets/discord_white.png) no-repeat;
    align-items: center;
    justify-content: center;
    background-size: 45px;
    cursor:pointer;
    border:none;
}
button:nth-child(7):hover{
    background:url(../../assets/discord_color.png) no-repeat;
    align-items: center;
    justify-content: center;
    background-size: 45px;
    cursor:pointer;
    border:none;
}
#net{
    position: relative;
    font-size: 22px;
    margin-left: 5px;
    bottom:13px;
}

/*voot button*/
button:nth-child(8){
    background:url(../../assets/discord_white.png) no-repeat;
    align-items: center;
    justify-content: center;
    background-size: 45px;
    cursor:pointer;
    border:none;
}
button:nth-child(8):hover{
    background:url(../../assets/discord_color.png) no-repeat;
    align-items: center;
    justify-content: center;
    background-size: 45px;
    cursor:pointer;
    border:none;
}
#voo{
    position: relative;
    font-size: 22px;
    margin-left: 0px;
    bottom:13px;
}

/*sony liv button*/
button:nth-child(9){
    background:url(../../assets/discord_white.png) no-repeat;
    align-items: center;
    justify-content: center;
    background-size: 45px;
    cursor:pointer;
    border:none;
}
button:nth-child(9):hover{
    background:url(../../assets/discord_color.png) no-repeat;
    align-items: center;
    justify-content: center;
    background-size: 45px;
    cursor:pointer;
    border:none;
}
#sony{
    position: relative;
    font-size: 22px;
    margin-left: 20px;
    bottom:13px;
}

.custom_url_div{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* align-items: center; */
    transition: all 1s ease-in-out;
}
#custom_url{
    /* display: flex; */
    font-family: 'Roboto', sans-serif;
    color: rgba(87,123,221,1);
    font-size: 1rem;
    margin: 0 auto;
    /* padding: 1.5rem 2rem; */
    border-radius: 2rem;
    background-color: wheat;
    border: 2px solid rgb(255, 106, 0);
    width: 17vw;
    height: 3.5vh;
    /* display: block; */
    /* border-bottom: 0.3rem solid transparent; */
    transition: all 0.3s;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#custom_url_add_button{
    /* display: flex;
    justify-content: center; */
    padding-top: 100px;
    margin-left: 3vw;
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    background: linear-gradient(45deg, rgba(87,123,221,1), rgb(219, 127, 61) );
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#custom_url_add_button:hover{
    background: linear-gradient(45deg, rgb(219, 127, 61), rgba(87,123,221,1) );
}

.candd{
    width: 100vw;
    transition: all 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

#create_download{
    width: 40vw;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(87,123,221,1) 0%, rgb(209, 117, 51) 26%,  rgb(219, 127, 61)  40%);
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}
#create_download:hover{
    background: linear-gradient(90deg, rgb(219, 127, 61) 0%, rgb(209, 117, 51) 26%,  rgba(87,123,221,1)  40%);
    font-size: 20px;
}

.white{
    color:white
}
.orange{
    color:orange
}